
:root {
  --primary-color: #b7def6;
  --secondary-color: #6bbaec;
  --text-color: white;
  --text-alt-color: #272142;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
}

h1 {
  font-size: 96px;
  line-height: 1.5;
}

h3 {
  font-size: 60px;
}

.logo {
  max-height: 50px;
}

.logo:hover {
  transition: 0.7s;
  transform: rotate(360deg);
}

.hero {
  background-color: rgba(183, 222, 246, 0.5);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-size: 38px;
  font-weight: bold;
  margin: 0;
  color: var(--text-color);
}

.hero h2 {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 24px;
  color: var(--text-color);
}

.featured {
  font-size: 24px;
  color: var(--primary-color);
  font-weight: bold;
}

.project-desc {
  padding: 120px 60px;
}

.project-para {
  font-size: 16px;
  line-height: 30px;
}

.btn{
  background-color: var(--secondary-color);
  border-radius: 4px;
  color: var(--text-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.project-img {
  padding: 150px 0;
  max-height: 900px;
}



.contact-box{
  background-color:#dbeefa;
  margin: 0 auto;
  max-width:900px;
  padding: 80px;
  
}

.btn{
  background-color: var(--secondary-color);
  border-radius: 4px;
  color: var(--text-color);
  font-size: 15px;
  line-height: 27px;
  padding: 12px 26px;
}


.work-together{
  font-size: 40px;
}

.contact-me{
  margin-top:15px;
}

.footer-icons{
  font-size:30px;
  color:#212529;
  opacity:75%;
  word-spacing: 10px;
}

.footer-icons :hover{
  color:var(--text-color);
  transition:0.75s; 
  transform:rotate(720deg);
}

.footer {
  font-size: 14px;
  text-align: center;
  font-family: var(--default-font-family);
  background-color: var(--primary-color);
}

.footer a {
  text-decoration: none;
  color: var(--text-alt-color);
}

.about {
  background-color: white;
  text-align: center;
  padding: 100px 20px 40px 20px;
}

.about p {
  font-size: 35px;
  font-weight: bold;
  margin: 0;
  color: var(--text-color);
}

.about-img {
  display: block;
  margin: 0 auto;
  max-width: 200px;
  border: hidden;
  border-radius: 50%;
}

.about-section {
  background-color: rgba(183, 222, 246, 0.5);
  text-align: center;
  padding: 0px 20px 160px 20px;
}

.about-header {
  font-size: 24px;
  font-weight: bold;
  color: var(--text-color);
}

.about-para {
  font-size: 16px;
  line-height: 30px;
}

.shecodes-link {
  text-decoration: none;
  color: #662eed;
}

.projects-section {
  background-color: rgba(183, 222, 246, 0.5);
  text-align: center;
  padding: 0px 20px 160px 20px;
}


.future-img {
  padding: 150px 0px 0px 0px;
  max-height: 900px;
}


.img-caption {
  font-size: 8px;
}

.section {
  padding: 120px 60px;
}

.section:hover {
  background-color: #b7def6;
}

.contact-header {
  font-size: 32px;
  color: var(--text-color);
}
.social-section {
  background-color: rgba(183, 222, 246, 0.5);
  padding: 0px 20px 160px 20px;
}

.social-list li {
  text-align: center;
  font-size: 27px;
  font-weight: bold;
}

.social-tag {
  text-decoration: none;
  font-size: 20px;
  color: var(--secondary-color);
}

.social-tag:hover {
  text-decoration: none;
  color: #269be3;
  transition: font-size 0.5s;
  font-size: 24px;
}

.footer {
  position: absolute;
  width: 100%;
  text-align: center;
  padding-top: 20px;
}

@media (max-width: 640px) {
  h1 {
    font-size: 60px;
  }

  h3 {
    font-size: 44px;
  }

  .hero {
    padding: 80px 30px;
  }
  .project-desc {
    padding: 0;
    text-align: center;
  }

  .contact-box{
    padding: 20px;
  }

  .work-together{
    font-size:28px;
  }

  .contact-me{
    margin-top:5px;
  }

  .social-icons{
    font-size:24px;
  }

  .footer {
    padding-top: 10px;
  }
}
